
body {
    background-color: #0b0d17;
    color: white;
    font-family: Arial, sans-serif;
    padding: 50px 0;
    margin: 0;
}

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

header p {
    color: #a0a0a0;
    max-width: 600px;
    margin: 0 auto 50px;
    line-height: 1.5;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 0 20px;
}


.card {
    background-color: #161a2e; 
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #2a2e3f;
    text-align: center;
}

.card h3 {
    margin: 15px 0;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #b0b0b0;
    line-height: 1.6;
    margin-bottom: 20px;
}

.card a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
}

.div-div-1 {
    background-color:#1E1E2E;
    width: 400px;
    margin-left: 100px;
    height: 300px;
    border-radius: 15px;
}

.div-div-1-p {
    text-align: center;
}

.div-h1 {
    text-align: center;
}

.div-p {
    text-align: center;
}

.bb-div {
    display: flex;
}

.img-1 {
    margin-left: 80px;
}

.icon-1 {
    margin-left: 80px;
}

body {
    background-color: #05051a; 
    color: white;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.contact-btn {
    background: linear-gradient(90deg, #3a7bd5, #00d2ff);
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10%;
    min-height: 80vh;
}

.content {
    max-width: 500px;
}

.content h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content h1 span {
    color: #cc66ff; 
}

.content p {
    color: #aaa;
    margin-bottom: 30px;
    line-height: 1.6;
}


.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.join-btn {
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    border: none;
    padding: 15px 40px;
    color: white;
   
    border-radius: 5px;
    cursor: pointer;
}

.watch-video {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.play-icon {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-section img {
    max-width: 100%;
    height: auto;
}
 
.content h1 {
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    
    -webkit-backdrop-clip:text ;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent ;
}

.container {
    padding: 50px 10%;
}

.info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 50px;
}



.image-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-box img {
    max-width: 100%;
    height: auto;
}


.text-box h2 {
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: white;
}

.text-box p {
    color: #aaa;
    margin-bottom: 30px;
    line-height: 1.8;
}


.read-more {
    background: linear-gradient(90deg, #3a7bd5, #7a5cf2);
    border: none;
    padding: 12px 35px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


@media (max-width: 768px) {
    .info-section, .info-section.reverse {
        flex-direction: column;
        text-align: center;
    }
    
    .text-box h2 {
        font-size: 28px;
    }
}





